# -----------------------------
# Terraform
# -----------------------------
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# -----------------------------
# Variables
# -----------------------------
*.tfvars
*.auto.tfvars

# Keep sample files
!terraform.tfvars.example
!terraform.tfvars
# -----------------------------
# Secrets
# -----------------------------
.env
.env.*
*.pem
*.key
*.pfx
*.cer

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Linux
# -----------------------------
*~

# -----------------------------
# Windows
# -----------------------------
Thumbs.db
Desktop.ini

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Temporary
# -----------------------------
tmp/
temp/